<div class="mt-5">
    <h3>List of todos</h3>
    <ng-container *ngIf="error$ | async as message">
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </ng-container>
    <form class="col s12" [formGroup]="myForm" (ngSubmit)="saveTodo(myForm)">
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="title" id="title" type="text" class="validate" placeholder="Add a new task">
                <span class="helper-text red-text text-darken-4" data-error="wrong" data-success="right"
                    *ngIf="error">{{error}}</span>
            </div>
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit">Add</button>
            </div>
        </div>
    </form>
    <ng-container *ngIf="checkedTodos$ || unCheckedTodos$">
        <ul class="collection">
            <li class="collection-item" *ngFor="let todo of unCheckedTodos$ | async">
                <label>
                    <input type="checkbox" [checked]="todo.done" (change)="onCheckboxChange($event, todo)"/>
                    <span class="todo">
                        <a routerLink="/todo/{{todo.id}}">{{todo.title}}</a>
                    </span>
                </label>
            </li>
            <li class="collection-item" *ngFor="let todo of checkedTodos$ | async">
                <label>
                    <input type="checkbox" [checked]="todo.done" (change)="onCheckboxChange($event, todo)"/>
                    <span class="todo">
                        <a routerLink="/todo/{{todo.id}}">{{todo.title}}</a>
                    </span>
                </label>
            </li>
        </ul>
    </ng-container>
</div>