<div class="mt-5">
    <h1 class="text-primary mb-3">{{title$ | async}}</h1>
    <ng-container *ngIf="error$ | async as message">
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </ng-container>
    <ng-container *ngIf="todos$ | async as todos">
        <ul>
            <li class="list-group-item" *ngFor="let todo of todos">
                <div class="form-check" *ngIf="!todo.done">
                    <input class="form-check-input" type="checkbox" value="" id="{{todo.id}}" [checked]="todo.done" (change)="onCheckboxChange($event, todo)">
                    <label class="form-check-label" for="{{todo.id}}">
                        {{todo.title}}
                    </label>
                </div>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="todos$ | async as todos">
        <ul>
            <li class="list-group-item" *ngFor="let todo of todos">
                <div class="form-check" *ngIf="todo.done">
                    <input class="form-check-input" type="checkbox" value="" id="{{todo.id}}" [checked]="todo.done" (change)="onCheckboxChange($event, todo)">
                    <label class="form-check-label" for="{{todo.id}}">
                        <s>{{todo.title}}</s>
                    </label>
                </div>
            </li>
        </ul>
    </ng-container>
</div>