<div class="mt-5" *ngIf="todo">
    <h3 class="mb-3">Details of todo n° {{todo.id}}</h3>
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">{{todo.title}}</h5>
            <p class="card-text">{{todo.description}}</p>
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
    <div class="mt-3">
        <a routerLink="">Back to list</a>
    </div>
</div>