<div class="row" *ngIf="todo">
    <h3>Details of todo n° {{todo.id}}</h3>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s10">
                        <span class="card-title">{{todo.title}}</span>
                    </div>
                    <div class="col s2">
                        <i class="material-icons green-text" *ngIf="todo.done">done</i>
                        <i class="material-icons red-text" *ngIf="!todo.done">clear</i>
                    </div>
                </div>
                <p>{{todo.description}}</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-teal btn-flat" routerLink="">Back to list</a>
                <a class="waves-effect waves-light btn" (click)="deleteTodo(todo.id)">Edit</a>
                <a class="waves-effect waves-light btn" (click)="deleteTodo(todo.id)">Delete</a>
            </div>
        </div>
    </div>
</div>